<div class="relative bg-white">
  <div class="mx-auto px-5">
    <div class="flex flex-row justify-between">
      <img class="inline-block h-24" [src]="'/assets/logo/Project.png'" alt="">
      <div class="relative inline-block flex justify-center items-center flex-row flex-wrap">
        <app-navbar-front></app-navbar-front>
      </div>
      <div class="relative inline-block flex justify-center items-center flex-row flex-wrap">
        <span>Login</span>
      </div>
    </div>

  </div>
  <!-- Mobile menu -->
</div>
