<div class="relative inline-block flex justify-center items-center flex-row flex-wrap">
  <div class="dropdown" *ngFor="let menu of pagesMenu$ | async">
    <button [ngClass]="menu.selected || menu.active
        ? 'bg-primary-500 text-white'
        : 'text-gray-600 hover:bg-gray-100 hover:text-primary-500 '"
      class="mr-2  rounded-md px-3 py-2 text-sm font-medium">
      {{ menu.group }}
    </button>

    <!-- Dropdown  -->
    <div class="dropdown-content absolute top-[100%] min-w-[200px] origin-top-left" navbar-submenu
      [submenu]="menu.items">
    </div>
  </div>
</div>
